html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fffaf7;
    margin-top: 0 !important;
    color: #2c3e50;
}
.container {
    border-top: 0 !important;
    border: 1px solid #e1e1e1;
    background-color: #FFF;
    padding-bottom: 2rem;
}