# Application
VUE_APP_META_TITLE = "Napolitano's Photos"

# Supabase
VUE_APP_SUPABASE_URL=
VUE_APP_SUPABASE_ANON_KEY=

# EmailJS
VUE_APP_EMAILJS_USER_ID=
VUE_APP_EMAILJS_TOKEN=
VUE_APP_EMAILJS_TEMPLATE_ID=
VUE_APP_EMAILJS_SERVICE_ID=