# Application Variables
VUE_APP_META_TITLE = "Napolitano's Photos"

# Supabase Credentials
# Check out this link for more information
#  -> https://supabase.com/docs/guides/with-vue-3
VUE_APP_SUPABASE_URL=
VUE_APP_SUPABASE_ANON_KEY=

# EmailJS
VUE_APP_EMAILJS_USER_ID=
VUE_APP_EMAILJS_TOKEN=
VUE_APP_EMAILJS_TEMPLATE_ID=
VUE_APP_EMAILJS_SERVICE_ID=