html,
body,
#app {
  font-family: 'Raleway', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffaf7;
  margin-top: 0 !important;
  color: #2c3e50;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

// lists
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}
